@font-face {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    src: local('Cormorant Infant'), local('CormorantInfant-Regular'), url(../fonts/Cormorant-Infant.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(../fonts/Roboto-Condensed.woff) format('woff');
}
* {
    font-family: 'Roboto Condensed', sans-serif;
}
p,
table {
    font-family: 'Cormorant Infant', serif;
}
h1 {
    font-style: bold;
}
p {
    font-size: 20px;
}
.navbar {
    border-bottom: 1px solid #DEC29A;
    margin-bottom: 0;
}

li.dropdown>ul.dropdown-menu {
    background-color: #F8F8F8;
    border: 1px solid #DEC29A;
    border-radius: 0;
}
.navbar {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 0;
}

.navbar .navbar-nav,
.navbar .navbar-brand {
    display: inline-block;
    vertical-align: top;
    float: none;
}
.navbar .navbar-collapse,
.navbar .navbar-brand {
    width: 100%;
    text-align: center;
    font-variant: small-caps;
}
.navbar-brand {
    height: 150px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 0;
    transition-duration: 1s;
}

.navbar-brand.sm{
    height: 90px;
}

.navbar + .container-fluid {
    padding-top: 200px;
}

.navbar-brand img {
    height: 100%;
}
.navbar a {
    font-size: 18px;
    color: #7C6A55 !important;
    background-color: transparent !important;
}
.navbar a:hover {
    color: #DEC29A !important;
    background-color: transparent !important;
}

.navbar-index{
    box-shadow: none;
    border: none;
    background-color: transparent !important;
    transition-duration: 1s;
}
.navbar-index a {
    color: white !important;
    text-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

.navbar-index li.dropdown>ul.dropdown-menu {
    background-color: transparent;
    border: 1px solid #DEC29A;
}

hr {
    border: 0;
    height: 1px;
    background: #7C6A55;
    background-image: -webkit-linear-gradient(left, #FFF, #DEC29A, #FFF);
    background-image: -o-linear-gradient(left, #FFF, #DEC29A, #FFF);
}
.center {
    text-align: center;
    float: none;
}
.btn {
    min-width: 100px;
    border-radius: 0;
    border-color: #DEC29A;
}
body {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
}
body > .container-fluid > .row,
footer > .container-fluid > .row {
    padding-bottom: 20px;
    overflow: hidden;
}
.carousel-control {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.carousel span.glyphicon {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.carousel:hover span.glyphicon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.form-control {
    border-radius: 0;
    border-color: #DEC29A;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #DEC29A;
}
footer {
    margin-top: 20px;
    background-color: lightgrey;
    color: grey;
}
footer a {
    color: #7C6A55;
    font-size: 18px;
}
footer a:hover {
    color: #DEC29A;
}
footer .copyright {
    font-size: 15px;
    color: lightgrey;
}
a.social-icon {
    font-size: 18px;
    padding: 5px;
}
.img-text div {
    text-align: center;
}
.img-text {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.img-text p,
.img-text h1,
.img-text .btn {
    color: white;
    text-shadow: 0 0 10px black;
}
.img-text .btn {
    background-color: transparent;
}
.img-text:hover div {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.img-text:hover {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

@media (min-width: 768px) {
    .fence {
        margin: auto;
        max-width: 1000px;
    }
    .fence:hover > .fence-item {
        width: 25%;
    }
    .fence-item {
        min-width: 200px;
    }
    .fence:hover > .fence-item:hover {
        width: 50%;
    }
    .fence-item div {
        -webkit-transition: .5s linear .5s;
        transition: .5s linear .5s;
    }
    .img-text div {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
    }
}
@media (max-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    ul,
    p,
    form {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}

.table>tbody>tr>td{
    border-top: none;
}



.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #DEC29A;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.progress .indeterminate {
  background-color: #7C6A55;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 10s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
          animation: indeterminate 10s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 10s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: indeterminate-short 10s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}


.progress{
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.slide{
    margin: auto;
    max-width: 1000px;
}
.slide .slide-item{
    overflow: hidden;
}
.slide .slide-item .slide-up{
    top:0;
    transition-duration: 1s;
}
.slide .slide-item:hover .slide-up{
    top:-300px;
}
.slide .slide-item .slide-down{
    bottom:0;
    transition-duration: 1s;
}
.slide .slide-item:hover .slide-down{
    bottom:-300px;
}
.slide .slide-item .row{
    opacity: 0;
    transition-duration: 1s;
}
.slide .slide-item:hover .row{
    opacity: 1;
}

div.loading>div{
    padding-right: 0;
}

@media (min-width: 768px) {
    div.loading>div{
    padding-right: 30px;;
}
}

#kau-coffee,
#tea,
#orchard { 
    display: block;
    position: relative;
    top: -140px;
    visibility: hidden;
}